<app-loading [loading]="loading">
<div class="container">
    <h1>Login</h1>
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="form-group">
        <app-form-field >
          <input
            app-form-field-input
            formControlName="email"
            id="emailId"
            title="Email"
            type="email">
        </app-form-field>
      </div>
      <div class="form-group">
        <app-form-field>
          <input
            app-form-field-input
            formControlName="password"
            id="passwordId"
            title="Password"
            type="password">
        </app-form-field>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
</div>
</app-loading>

